body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.author-image{
  
    width: 200px;
    height: 300px;
    border-radius: 50%;
    transform: scale(.76, .5);
    float:left;

}
.preview-author {
  margin: 5px 5px 10px 5px;
  font-weight: bold;
  

}

.preview-container {
  float: left;
  padding-left: 240px;
  margin-top: 80px;
  border-left: solid 1px #CCC;
}
.preview-li {
  height: 210px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container{
  text-align: center;
}


.button-preview{
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-left: auto;
}
